:root{
	--mainColor:#000;
	--secondaryColor:#141414;

	--borderColor:#e6e7e5;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(41, 41, 41, 0.8);
	--previewShadow:#3a3b39;


	--buttonColor:#669966;


}


